python-barcode
weasyprint
flask
click
twisted
sqlsoup
sqlalchemy
service_identity # Due to "UserWarning: You do not have a working installation of the service_identity module: 'No module named 'service_identity''..."
